/* button {
  background-color: rgba(158, 242, 197);
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  color: rgba(97, 55, 86);
} */
/****************Activity LIST styles*****************/
.activity-block {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.activity-list {
  width: 90%;
  display: flex;
  flex-direction: column;
}

img {
  width: 45%;
  border-radius: 2%;
}

.activity-card {
  background-color: white;
  color: rgba(97, 55, 86, 255);
  display: flex;
  padding: 0.5%;
  margin: 2%;
  border: 1px solid rgba(183, 136, 174, 255); /* Soft purple borders */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.2s;
}

.activity-card:hover {
  transform: translateY(-5px);
}

.activity-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activity-content h2 {
  font-family: Mountains;
  font-size: 2em;
}

.activity-content p {
  border: 1px, solid, black;
}
/******************Activity DETAILS styles***************/
.activity-details {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.activity-details img {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.activity-details-content {
  width: 90%;
}

.activity-details-content p {
  margin: 2% 5%;
  text-align: justify;
  font-size: 1.4em;
  line-height: 125%;
}

.activity-meetingpoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}

.activity-meetingpoint h2 {
  margin: 2%;
}

.activity-form {
  margin: 0 30%;
}

.activity-reviews {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/******************Activity FORM styles*****************/
.activity-form-descr {
  width: 100%;
  height: 100px;
}
