.dashboard h3 {
  font-family: Mountains;
  padding-top: 0;
  font-size: 50px;
}

.dashboard h6 {
  font-size: 18px;
}

.dash-intro {
  padding-top: 100px;
  height: 350px;
  font-size: 2rem;
}

.dash-intro > * {
  margin: auto;
  padding: 10px;
}

.dash-intro img {
  width: 200px;
}

.list-choice {
  width: 300px;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  padding-bottom: 170px;
}

.list-choice-title {
  width: 100%;
  display: block;
  background: #d8d8d8;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 1px 0 #cacaca;
  border-radius: 0.2em;
}
.list-choice:hover .list-choice-title {
  border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 2.1em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}

.list-choice:hover .list-choice-objects {
  max-height: 540px;
}

.both-services {
  background-color: rgba(255, 255, 255, 0.832);
  box-shadow: #d0bce5bb 1px 1px 40px 0px inset;
}

.services-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  gap: 2rem;
}

.services {
  position: relative;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 400px;
  border-radius: 1rem;
  opacity: 0.9;
  max-height: 85%;

  p {
    position: absolute;
    bottom: 1rem;
    transition: bottom 0.2s linear;
    z-index: -1;
    opacity: 0;
    text-align: center;
    color: rgba(97, 55, 86, 255);
    font-size: 15px;
  }
}

.services img {
  border-radius: 1rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
  grid-area: img;
}

.services-container h2 {
  grid-area: title;
  font-family: Mountains;
  font-size: 30px;
  padding-bottom: 30px;
}

.services:hover {
  opacity: 1;
  transform: translate(0, -8%);
}

.services:hover p {
  bottom: -5rem;
  opacity: 1;
}

.business-owned-ad h2 {
  padding-top: 60px;
}

.business-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "title title title" "img img img";
  justify-content: center;
  font-size: 12px;
  gap: 2rem;
}

.business {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 1rem;
  max-height: 85%;
}

.business img {
  border-radius: 1rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
  grid-area: img;
}

@media only screen and (max-width: 767px) {
  /* .my-element {
    display: block;
  } */
}

@media only screen and (max-width: 1024px) {
  /* .my-element {
    display: block;
  } */
}
