.navigation-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 20px;
  width: 100%;
  background-color: hsl(31, 45%, 89%);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navigation-bar button:hover {
  transform: translateY(-2px);
}

.navigation-bar button:nth-child(5) {
  background-color: #f9d5e5;
}

.navigation-bar button:nth-child(5):hover {
  background-color: #f4aeb8;
}
