@font-face {
  font-family: Mountains;
  src: url("./assets/beyond_the_mountains.otf");
}

@font-face {
  font-family: CenturyG;
  src: url("./assets/GOTHIC.TTF");
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: rgba(97, 55, 86, 255);
  font-family: CenturyG;
  background-image: url("./assets/6543832.jpg");
  background-size: 100%;
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-family: Mountains;
  font-size: 3.2em;
}

h2 {
  font-family: CenturyG;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/*****************************Not found page******************************/
.not-found-page h1 {
  font-family: CenturyG;
}

.bg-notfound {
  /* background-image: url(https://images3.alphacoders.com/855/85585.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}
